p, a{
    color: #242121;
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6, strong{
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.bg-container{
    background-color: #ff5858;
}
hr{
    color: #000000;
}
img{
    object-fit: cover;
}
